:root {

    /* font */
    --main-font: 'Inconsolata', monospace;

    /* color */
    --main: #4E4D4D;
    --highlight: #C21010;
    --dark: #000;
    --light: #fff;

    /* padding */
    --padding-small: 1%;
    --padding-medium: 3%;
    --padding-large: 5%;
    --padding-xlarge: 10%;

    /* margin */
    --margin-small: 1%;
    --margin-medium: 3%;
    --margin-large: 23px;
    --margin-xlarge: 50px;


    /* spacing */
    --xsmall: 50px;
    --small: 70px;
    --medium: 90px;
    --large: 100px;
    --xlarge: 170px;
    --superlarge: 230px;

    /* font weight */
    --title: 700;
    --undertitle: 600;
    --body: 400;
    --details: 100;

    /* border */
    --default: 1px solid var(--dark);
    --large-border: 2px solid var(--dark);

}